# variables

In [2]:
&a=2

SyntaxError: invalid syntax (<ipython-input-2-f83b3b980f72>, line 1)

In [3]:
1a=2

SyntaxError: invalid syntax (<ipython-input-3-1801bb65fdd0>, line 1)

In [4]:
_a=2

In [5]:
@a=2

SyntaxError: invalid syntax (<ipython-input-5-bd61215e9f08>, line 1)

In [6]:
a = 2
a='hello'
print(a)

hello

In [8]:
a=2
b=2.5
print(a*b)

5.0

In [10]:
print(f"{a} multiply with {b} is {a*b}")

2 multiply with 2.5 is 5.0

In [11]:
print(a,b,"multiple is ",a*b)

2 2.5 multiple is  5.0

## 6 basic data type

<ul>
    <li>Number system</li>
    <li>String</li>
    <li>List</li>
    <li>Tuple</li>
    <li>dictionary</li>
    <li>Set</li>
</ul>
## mutable: data can be updated or deleted and methods return none
## immutable: data cannot be updated or deleted and method will return new data always

#### multiple assignments

In [15]:
a,b = 2,3
print(a,b)

2 3

In [17]:
a,b =2
print(a,b)

TypeError: 'int' object is not iterable

In [18]:
a,b=(2,2)
print(a,b)

2 2

In [20]:
# swapping of two numbers

a,b=2,35
a,b=b,a
print(f"a = {a} and b={b}")

a = 35 and b=2

### type casting in python

In [24]:
a = 25
print(type(a))  # type() is used for checking the data type

<class 'int'>

In [27]:
print(float(a)) # convert int to float

25.0

In [29]:
print(print("hello")) # print() does not return anything but the inner print will get executed

hello
None

In [30]:
a = "25"
print(type(a))

<class 'str'>

In [31]:
a = int(a)
print(type(a))

<class 'int'>

In [33]:
a = complex(a)
print(a , type(a))

(25+0j) <class 'complex'>

In [34]:
a = 25
print(type(a))
a = str(a)
print(type(a),a)

<class 'int'>
<class 'str'> 25

## operator

<ul>
    <li>Arithmetic  (+.-.*./,%,//,**)</li>
    <li>logical  (and,or,not)</li>
    <li>comparison  (==,!=,<,>,<=,>=)</li>
    <li>assignment  (a=b,a+=b)</li>
    <li>bitwise  (&,|,>>,<<) </li>
    <li>membership  (in,not in)</li>
    <li>identity  (is, not is)</li>
</ul>
# pre and post increment is not valid in python like a++ or ++a

In [41]:
# arithmetic

a = 2 
b = 5
print(f"add is {a + b} sub is {a - b}, mul is {a*b} modulus is {a%b} and raise to is {a**b} division is {a/b}")

add is 7 sub is -3, mul is 10 modulus is 2 and raise to is 32 division is 0.4

# '/'       Exact division
# '%'     will give remainder
# '//'      will give floor division

In [45]:
# floor division

a = 5
b = -2
print(a//b)

# it gives value -3 because -3 < -2.5 < -1
# and since it is floor division is giving value as -3 as it is closest lowest value near to -2.5
# always returns int if both the numbers are int

-3

In [46]:
a = 5
b = 2
print(a//b)

2

### logical operator

In [53]:
a = 2
b = a or 'no value entered'

print(b)

a = None
b = a or 'no value entered'
print(b)

a = 0
b = a or 'no value entered'
print(b)

2
no value entered
no value entered

In [1]:
a = 2
b = 3
c = 3
d = a and b and c
print(d)

a = 2
b = 3
c = 0
d = a and b and c
print(d)

a = 2
b = 3
c = 10
d = a and b and c
print(d)

a = 2
b = 3
c = 10
d = a or b and c
print(d)

# where the condition stops it gives that value

a = 2
b = 0
c = 3
d = a or b and c
print(d)

a= 5
b=4
c = 0
d=10
ans = a and b and c and d
print(ans)

3
0
10
2
2
0

In [59]:
a = 2
b = 3
c = 4

d = (a > b) and (a > c) # if we use comparision operators it will always return boolean value
print(d)

False

In [62]:
False > True
True > False

True

In [71]:
print(bin(b))

TypeError: 'str' object cannot be interpreted as an integer

In [73]:
b = 3
print(a and b)
print(a & b)

3
2

In [74]:
a = 2
print(a)

a += 5
print(a)

2
7

### membership

### sequence in python is string,list and tuple i.e. it follows index property

In [81]:
a = 'hello world'
print('w' in a)

print('World' not in a)
print('World' in a)
print('world  'in a)

True
True
False
False

In [82]:
# for list

b = [1,2,3,4,5]
print(2 in b)

True

### dictionary does not follow index property , it follows key and pair property

### identity operator i.e 'is' and 'not is'

In [88]:
a = 200
b = 200
print(a is b)

True

In [97]:
a = 21
b = 2000
print(a is b)

# is operator is used to check data type
# range is 255
# is operator is used to check data type i.e.
print(type(a) is type(b))

# for data checking , we can use '=='
# is should be used only for checking data TYPE and it also checks memory location i.e. print(id(a) is id(b))

False
True

In [96]:
a,b = 300,300   # assigns memory to only a and b will be only referenced only upto certain location
print(a is b)
print(id(a),id(b))
a = 300
b = 300
print(a is b)
print(id(a),id(b))

a,b = 20,21
print(id(a),id(b))

True
2124515185648 2124515185648
False
2124515185616 2124515186416
1981213744 1981213776

In [108]:
a = 32
b = 32.5
print(type(a) is type(b))

b = 32
print(type(a) is type(b))

b = 30
print(a is b)

False
True
False

### working with range

In [ ]:
# range(start,end,jump)
# cumpulsary parameter is end
# if start not mentioned then it will start from 0
# jump by default is +1

In [110]:
range(100)

range(0, 100)

In [111]:
print(range(0,100))

range(0, 100)

In [112]:
# range is an object
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [115]:
list(range(100,0,-1))

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [116]:
list(range(0,100,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [117]:
list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [119]:
list(range(100,-100,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2,
 0,
 -2,
 -4,
 -6,
 -8,
 -10,
 -12,
 -14,
 -16,
 -18,
 -20,
 -22,
 -24,
 -26,
 -28,
 -30,
 -32,
 -34,
 -36,
 -38,
 -40,
 -42,
 -44,
 -46,
 -48,
 -50,
 -52,
 -54,
 -56,
 -58,
 -60,
 -62,
 -64,
 -66,
 -68,
 -70,
 -72,
 -74,
 -76,
 -78,
 -80,
 -82,
 -84,
 -86,
 -88,
 -90,
 -92,
 -94,
 -96,
 -98]

In [120]:
list(range(4,100,4))

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96]

### decision making

In [126]:
        list(range(2,10,1))
            print("hello")

IndentationError: unexpected indent (<ipython-input-126-9a9b2a41e553>, line 2)

In [129]:
a = 2
b = 3
if(a>b):
    print("a is greater")
else:
    print("b is greater")
print(a,b)

b is greater
2 3

#### taking input

In [132]:
a = input("Enter a number")
print(type(a),a)

Enter a number23
<class 'str'> 23

In [147]:
# wap to check if no. is divisible by 2 , 3 and both
num = int(input("Enter a nmber : "))
if(num%2 == 0 and num%3 == 0):
    print("Divisible by both")
elif(num%2 == 0):
        print("The number is divisible by 2")
elif(num%3 == 0):
        print("The number is divisible by 3")
else:
    print("Not divisible by both")

Enter a nmber : 43
Not divisible by both

## ass-1 find lcm of given input number

In [7]:
num = int(input("Enter a number :"))
i = 2  # since every number is divisible by 1 so we don't require that data
while(num>1):
    if(num%i == 0):
        num = num//i
        print(i)
    else:
        i += 1
print("Thank You")

Enter a number :32
2
2
2
2
2
Thank You

In [8]:
a = 3
b = 24
print(a) if(a>b) else print(b)

24

In [151]:
num = float(input("Enter a number"))
# code if(condition) else (code)

print("divisible by 2 and 3") if(num%2 == 0 and num%3 == 0) else print("divisible by 2") if(num%2==0) else print("divisible by 3") if(num%3==0) else print("Not divisible by both")


# not recommended for more than 3-4 conditions

Enter a number10
divisible by 2

# looping

## note: python does not support switch case

### while - else

In [158]:
count = 0
while(count < 10):
    print("hello all {}".format(count))
    count += 1
else:
    print("good bye")
    count = 0

hello all 0
hello all 1
hello all 2
hello all 3
hello all 4
hello all 5
hello all 6
hello all 7
hello all 8
hello all 9
good bye

### for loop

In [160]:
for i in list(range(10)):
    print(i*i)

0
1
4
9
16
25
36
49
64
81

In [161]:
for i in range(10):
    print(i*i)
# it runs perfectly fine if we do not type cast range

0
1
4
9
16
25
36
49
64
81

In [162]:
a = "hello world"
for x in a:
    print(x)

h
e
l
l
o

w
o
r
l
d

### enumerate

In [164]:
for index,data in enumerate("hello world"):
    print(index,data)
    
#enumerate() is used for printing the data as well as it's index no. in sequence

0 h
1 e
2 l
3 l
4 o
5
6 w
7 o
8 r
9 l
10 d

In [165]:
for index,data in enumerate("hello world"):
    if(index%2==0):  # printing even index and data
        print(index,data)

0 h
2 l
4 o
6 w
8 r
10 d

### zip()

In [175]:
# used for compressing many iteratives

list1 = ['red','green','blue']
list2 = ['roses','grass','sky']
nos = [1,2,3]
for x,y in enumerate(zip(list1,list2,nos)):
    print(x,y)
# iterates till the minimum index
# it can be used only once
compress = zip(list1,list2,nos)
print("--> 1",list(compress))
print("used once")
print("--> 2",list(compress))
print("used twice")

0 ('red', 'roses', 1)
1 ('green', 'grass', 2)
2 ('blue', 'sky', 3)
--> 1 [('red', 'roses', 1), ('green', 'grass', 2), ('blue', 'sky', 3)]
used once
--> 2 []
used twice

### control statement

In [181]:
#break , continue,pass;

print("break")
for x in "hello_world":
    if(x=='w'):
        break;
        print("good bye")  # will not be executed as it is below break
    print(x)

print("continue")
for x in "hello_world":
    if(x=='w'):
        continue;
        print("good bye")  #will not be executed as it is under break
    print(x)

print("pass")
for x in "hello_world":
    pass

break
h
e
l
l
o
_
continue
h
e
l
l
o
_
o
r
l
d
pass

In [ ]:
# restaurant bill generation
# no of persons
# enter meal,starter price,desert price individual price
# add 15% tax in total
# menu driven

#extra
# coupen

print("WElcome to Hotel")
while(True):
    num = int(input("Enter total persons"))
    sumall = 0
    for index in range(num):
        total = 0
        starter = float(input("Enter starter price of person {}".format(index+1)))
        meal = float(input("Enter meal price of person {}".format(index+1)))
        desert = float(input("Enter desert price of person {}".format(index+1)))
        total = starter + meal + desert
        sumall = sumall + total
        print(f"Bill of person {index+1} is {total}")
    print(f"final bill of all persons is {sumall + float(15/100)*sumall}")

WElcome to Hotel
Enter total persons2
Enter starter price of person 1100
Enter meal price of person 1100
Enter desert price of person 1100
Bill of person 1 is 300.0
Enter starter price of person 2200
Enter meal price of person 2200
Enter desert price of person 2200
Bill of person 2 is 600.0
final bill of all persons is 1035.0